<launch>
  <!-- <param name="robot_description" command="cat $(find nelson_common)/launch/nelson.urdf" /> -->
  <node name="create" pkg="irobot_create_2_1" type="driver.py" />
  <node name="arbotix" pkg="arbotix" type="arbotix-node.py" output="screen">
      <rosparam file="$(find nelson_common)/launch/nelson.yaml" command="load" />
  </node>
  <node name="wakeup" pkg="nelson_common" type="wakeup.py" />
</launch>
