<launch>
    <node name="stargate_map_server" pkg="stargate_map_server" type="stargate_map_server.py" output="screen">
      <param name="mapfile" value="$(find stargate_map_server)/ILS.map" />
    </node>

    <!-- TODO: configure this
    <node name="stargate_ar_pose" pkg="ar_pose" type="ar_multi" output="screen" >
      <param name="marker_pattern_list" type="string" value="$(find stargate_map_server)/objects_office"/>
      <param name="threshold" type="int" value="100"/>
    </node>-->

    <node name="stargate_locater" pkg="stargate_locater" type="stargate_locater.py" output="screen" />

    <node name="stargate_move_base" pkg="stargate_move_base" type="stargate_move_base" output="screen" >
        <rosparam file="$(find stargate_rosalyn)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find stargate_rosalyn)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find stargate_rosalyn)/config/global_costmap_params.yaml" command="load" />
    </node>

</launch>
