<launch>
  <param name="use_sim_time" value="false"/>
  <param name="robot_description" command="cat $(find rosalyn)/conf/ROSalyn.urdf" />

  <!-- bring up a camera, create, arbotix --> 
  <include file="$(find albany_common)/launch/qc9000.launch" />
  <node name="arbotix" pkg="arbotix_python" type="driver.py" output="screen">
    <rosparam file="$(find rosalyn)/conf/ROSalyn.yaml" command="load" />
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

</launch>

