<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
  <!-- video0 is usually built in -->
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  <!-- TODO: ACTUALLY CAPTURE THESE (below is the logitech qc9000 params ... 
    usb_cam doesn't save the camera_info, but we can load and publish it, the following is for the built in camera on an eeePC900 -->
    <rosparam param="D">[-0.037969, -0.151703, 0.006436, -0.005577, 0.0000]</rosparam>
    <rosparam param="K">[543.879796, 0.0, 294.364257, 0.0, 561.372732, 298.251974, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="P">[543.879796, 0.0, 294.364257, 0.0, 0.0, 561.372732, 298.251974, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>
  </node>
</launch>
