<launch>
    
  <include file="$(find rosalyn)/launch/bringup-ROSalyn.launch" />
  <include file="$(find locator)/launch/ils_locator.launch" />

  <node name="courier_node" pkg="office_courier" type="CourierNode.py" >
    <remap from="cmd_vel" to="desired_vel"/>
  </node> 
  <node name="traj_controller.py" pkg="smart_ranger" type="traj_controller.py"/>

  <node name="rosjs" pkg="rosjs" type="rosjs.py" />

</launch>
