<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
  <!-- video0 is usually built in -->
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  <!-- usb_cam doesn't save the camera_info, but we can load and publish it, the following is for Logitech 9000 -->
    <rosparam param="D">[0.103361, -0.879808, 0.003436, 0.002479, 0.0]</rosparam>
    <rosparam param="K">[824.050744, 0.000000, 339.773837, 0.0, 811.989621, 254.427865, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="P">[824.050744, 0.0, 339.773837, 0.0, 0.0, 811.989621, 254.427865, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam> 
  </node>

</launch>
